.sliderContainer {
  width: 100%;
  position: relative;
  & .slider {
    width: 100%;
    height: fit-content;
    overflow-y: hidden;
    cursor: grab;
  }
}
.sliderNavcontainer {
  z-index: 99;
  width: 100%;
  height: fit-content;
  position: relative;
  font-size: 0.75rem;
  margin-bottom: 2rem;
  & .slick-slide {
    opacity: 0.8;
    margin: 0 0.6em;
    &.slick-current {
      opacity: 1;
    }
  }
}
.btn {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  width: 3em;
  height: 4em;
  background-color: #3333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #fff7;
  }
  &:before {
    content: "";
    width: 45%;
    height: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
    &:before {
      transform: rotateY(180deg);
    }
  }
}
.post_card_container {
  & .postcard {
    display: block;
    margin-bottom: 1rem;
    background-color: #fff;
    & .postcard_body {
      max-height: 0;
      overflow: hidden;
      transition: all 1s ease-in-out;
      &.show {
        max-height: 1000vh;
      }
    }
  }
}

@media only screen and (max-width: 640px) {

  .postcard_body {
    display: flex;

  }}
